  <% if book.favorited_by?(current_user) %>
    <P>
      <%= link_to book_favorites_path(book), method: :delete do %>
       <i class="fas fa-heart"></i><%= book.favorites.count %>
      <% end %>
    </P>
  <% else %>
    <p>
      <%= link_to book_favorites_path(book), method: :post, class: 'text-denger' do %>
       <i class="fas fa-heart"></i><%= book.favorites.count %>
      <% end %>
    </p>
  <% end %>